<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>BookShelf_bookList</title>
</head>
    <form action="{% url 'bookList:search' %}" method="get" class="bookSearchForm">
      <table class = "kensakutable" border="0">
      <thead>
      <tr>
      <td><label>{{ bookSearchForm.isbn.label }} </label></td> <td><label>： {{ bookSearchForm.isbn }}</label></td>
      <td><label>{{ bookSearchForm.picture_name.label }} </label></td> <td><label>： {{ bookSearchForm.picture_name }}</label></td>
      <td><label>{{ bookSearchForm.title.label }} </label></td> <td><label>： {{ bookSearchForm.title }}</label></td>
      </thead>

      <tbody>
      <tr>
      <td><label>{{ bookSearchForm.author.label }} </label></td> <td><label>： {{ bookSearchForm.author }}</label></td>
      <td><label>{{ bookSearchForm.publisher.label }} </label></td> <td><label>： {{ bookSearchForm.publisher }}</label></td>
      <td><label>{{ bookSearchForm.pubdate.label }} </label></td> <td><label>： {{ bookSearchForm.pubdate }}</label></td>
      <td><input type="submit" value="検索"></td>
      </tr>
      </tbody>
      </table>
    </form>
    <a href="{% url 'bookList:all' %}"><button>全件検索</button></a>
    <br>
    <table class = "ichirantable" border="1">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>表紙</th>
          <th>書名</th>
          <th>著者名</th>
          <th>出版社</th>
          <th>出版日</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.isbn }}</td>
            <td><img border="0" src={{ book.picture_name }} alt="書籍画像"></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.pubdate|date:"Y/n/j" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>