{% extends "bookList/base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="mt-1"><label class="text-center">{{ userName }}さん</label></div>
            <div class="mt-1"><label class="text-center">{{ message }}</label></div>
            <div class="mt-1"><a href="{% url 'bookList:index' %}" class="btn btn-info text-center">書籍一覧</a></div>
            <div class="mt-1"><a href="{% url 'addBooks:newBook' %}" class="btn btn-info text-center">書籍登録</a></div>
        </div>
    </div>
</div>
{% endblock %}